
<!DOCTYPE html>
<html lang="en">
 {{>header}}
  <link rel="stylesheet" href="../../public/css/style.css">
<body>

    {{>navbar}}
  
<div class="container bg">
<img src="https://th.bing.com/th/id/OIP.btCEA4jf8_JaAnDhvTyswQEsDI?pid=ImgDet&rs=1" alt="" style="width: 100%; height:80vh">
</div>



   {{>script}}
</body>
</html>